@import "../../assets/scss/colors";

.chat-box-update {
  text-align: center;
  color: #738a94;
  .created-date {
    text-transform: uppercase;
    color: #738a94a1;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 12px 0;
  }
  .content-text {
    color: #738a94bd;
    font-size: 12px;
    padding-bottom: 4px;
  }
}