@import "../../assets/scss/colors";

.message-to-send {
  background: #fff;
  height: 64px;
  width: 100%;
  max-width: 418px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  .photo-text-container {
    border: 1px solid #d3d3d378;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 9px 16px 9px 16px;
    width: 100%;
    .photo {
      .photo-label {
        margin-bottom: unset;
        .camera-icon {
          font-size: 18px;
          color: #b3b8bdc2;
        }
      }
    }
    .message-content {
      outline: none;
      border: none;
      width: 100%;
      padding-left: 16px;
      color: #949494;
      font-size: 14px;
      &::placeholder {
        color: #80808080;
      }
    }
  }
  .send-btn {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    .plane-icon {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      color: #6c757d;
    }
  }
}