body {
  div {
    font-family: 'Lato', sans-serif;
  }
}

#q1-chatting {
  max-width: 420px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  background: #a29f9f0d;
  border: 1px solid #a29f9f0d;
  height: 100vh;
  position: relative;
  @media (max-width: 411px) {
    max-width: none;
    width: 100%;
  }
  .chat-group {
    background: #fff;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    color: #6671909e;
    font-weight: 600;
    position: relative;
    .triangular {
      position: absolute;
      top: 0;
      right: 0;
      border-top: 16px solid #a04343;
      border-left: 14px solid transparent;
      width: 0;
      height: 0;
    }
  }
  .message-container {
    padding: 0 13px;
    border-top: 1px solid #d3d3d378;
    border-bottom: 1px solid #d3d3d378;
    overflow-y: scroll;
    max-height: 618px;
    @media only screen and (min-width: 320px) {
      max-height: 452px;
    }
    @media only screen and (min-width: 375px) {
      max-height: 550px;
    }
    @media only screen and (min-width: 414px) {
      max-height: 618px;
    }
  }
}