@import "../../assets/scss/colors";

.horizontal-align {
  display: flex;
  justify-content: flex-start;
  margin: 6px 0;
  &.current-user {
    justify-content: flex-end;
  }

  .message-item {
    display: flex;
    max-width: 340px;
    width: auto;
    .user-logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 8px;
      &.current-user {
        display: none;
      }
    }
    .message {
      display: flex;
      border: 1px solid #d3d3d378;
      border-radius: 5px;
      background: #fff;
      position: relative;
      padding: 6px;
      &.current-user {
        background: $primaryColor;
        color: #fff;
        .content-text.current-user {
          color: #fff;
        }
        .updated-date.current-user {
          color: #e9ecefb3;
        }
      }
      .user-name {
        font-size: 12px;
        color: #808080b3;
        font-weight: 599;
        line-height: 1.2;
        &.current-user {
          display: none;
        }
      }
      .message-text {
        font-size: 14px;
        line-height: 1.3;
        .content-url {
          background-repeat: no-repeat;
          background-size: cover;
          background-color: transparent;
          background-position: 50% 50%;
          width: 175px;
          height: 130px;
          border-radius: 5px;
        }
        .content-text {
          color: #949494;
        }
        .updated-date {
          float: right;
          padding-left: 8px;
          padding-top: 4px;
          font-size: 11px;
          color: #808080a3;
          font-weight: 450;
        }
      }
    }
  }
}